body {
	margin:0px;
}
nav {
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	padding:1em;
	padding-bottom:0.5em;
	border-bottom:2px solid grey;
	margin-bottom:2px;
	position:fixed;
	background-color:white;
	width:100%;
	transition: 1s;
	text-transform:uppercase;
}
nav:hover {
	color:yellow;
	cursor:default;
	text-shadow:yellowgreen 1px 0 10px;
}
img {
	width:30%;
	margin:1.6%;
}